<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col items-center">
    <div class="card bg-base-300 w-full max-w-3xl shadow-xl p-6 mb-8">
      <h1 class="text-3xl sm:text-4xl font-bold text-center mb-4">
        {{ result.album.name }}
      </h1>
      <div class="card-body p-0">
        <h2 class="card-title text-2xl sm:text-3xl justify-center mb-2">
          {{ result.artist.name }}
        </h2>
        <p class="text-center mb-4 text-lg">
          If a dog chews shoes whose shoes does he choose?
        </p>
        <div class="card-actions justify-center">
          <div class="badge badge-outline text-lg p-4">
            {{ result.album.releaseDate.replace("T00:00:00", "") }}
          </div>
        </div>
      </div>
    </div>

    <div class="w-full max-w-3xl space-y-4 mt-8">
      <app-comment-form [userComment]="userComment"> </app-comment-form>
      @if (userComment && isSignedIn) {
        <div class="card bg-base-300 shadow-xl">
          <div class="card-body">
            <div class="flex justify-between items-center">
              <h3 class="text-xl font-bold">{{ userComment.username }}</h3>
              <div>
                <button
                  (click)="handleDelete(userComment.id.toString())"
                  class="btn btn-ghost btn-sm"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <p class="text-lg">{{ userComment.content }}</p>
          </div>
        </div>
      }

      @for (comment of result.comments.$values; track comment) {
        <div class="card bg-base-200 shadow-xl">
          <div class="card-body">
            <h3 class="text-xl font-bold">{{ comment.username }}</h3>
            <p class="text-lg">{{ comment.content }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
