@if (!isSignedIn) {
  <div role="alert" class="alert alert-warning mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      />
    </svg>
    <span>You must be signed in before making a comment!</span>
    <a class="font-bold text-secondary" [routerLink]="'/signin'"
      >Login here!
    </a>
  </div>
}

<div class="card bg-base-300 shadow-xl w-full">
  <div class="card-body">
    <div class="rating rating-lg rating-half mb-6 flex justify-center">
      <input
        type="radio"
        name="rating-10"
        class="rating-hidden"
        (click)="updateRating(0.0)"
        [checked]="rating === 0.0"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary"
        (click)="updateRating(0.5)"
        [checked]="rating === 0.5"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-2 bg-primary"
        (click)="updateRating(1.0)"
        [checked]="rating === 1.0"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary"
        (click)="updateRating(1.5)"
        [checked]="rating === 1.5"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-2 bg-primary"
        (click)="updateRating(2.0)"
        [checked]="rating === 2.0"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary"
        (click)="updateRating(2.5)"
        [checked]="rating === 2.5"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-2 bg-primary"
        (click)="updateRating(3.0)"
        [checked]="rating === 3.0"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary"
        (click)="updateRating(3.5)"
        [checked]="rating === 3.5"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-2 bg-primary"
        (click)="updateRating(4.0)"
        [checked]="rating === 4.0"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary"
        (click)="updateRating(4.5)"
        [checked]="rating === 4.5"
      />
      <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-2 bg-primary"
        (click)="updateRating(5.0)"
        [checked]="rating === 5.0"
      />
    </div>
    <textarea
      [(ngModel)]="content"
      type="text"
      placeholder="Opinion on the album"
      class="input input-bordered textarea-lg input-lg w-full mb-6 text-lg"
    >
    </textarea>
    @if (isEdit) {
      <button
        (click)="handleUpdate()"
        class="btn btn-primary btn-lg w-full text-lg text-white"
      >
        Update
      </button>
    } @else {
      <button
        (click)="sendData()"
        class="btn btn-primary btn-lg w-full text-lg text-white"
      >
        Submit
      </button>
    }
  </div>
</div>
