<article class="prose">
<h1 >Albums</h1>
</article>

@for (album of albumsResponse.data.$values; track album) {
  <div class="card card-side bg-primary-content shadow-xl m-5">
     <figure>
       <img
         src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
         alt="Movie"
       />
     </figure>
    <div class="card-body">
      <h2 class="card-title text-primary" >
      <a [routerLink]="'/album/' + album.id">{{album.name}} </a>
      </h2>
      <p>{{ album.releaseDate.replace("T00:00:00", "") }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Rate this album!</button>
      </div>
    </div>
  </div>
}

<div class="join">
  <button
    class="join-item btn btn-square"
    [disabled]="currentPage === 0"
    (click)="goToPage(currentPage - 1)"
  >
    &laquo;
  </button>

  <ng-container *ngFor="let page of pagesToShow">
    <input
      *ngIf="page !== -1"
      class="join-item btn btn-square"
      type="radio"
      [name]="'page_' + page"
      [ariaLabel]="currentPage === page"
      (click)="goToPage(page)"
    />
    <span *ngIf="page === -1" class="join-iten btn">...</span>
  </ng-container>

  <button
    class="join-item btn btn-square"
    [disabled]="currentPage === albumsResponse.totalPages"
    (click)="goToPage(currentPage + 1)"
  >
    &raquo;
  </button>
</div>
